a:link,
a:visited {
    color: #00c;
    text-decoration: none;
}
a:hover,
a:active {
    color: #00e;
    text-decoration: underline;
}

#container {
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    max-width: 720px;
    margin: auto;
    padding: 8px;
    font-size: small;
}

#entry-form input,
#entry-form textarea {
    width: 100%;
    font-family: monospace;
}

.entry { margin-bottom: 3em; }
.entry > header { border-bottom: 1px solid #eee; }
.entry > header > h1 { margin-bottom: 0; }
.entry > header > .timestamp { text-align: right; vertical-align: text-bottom;}
.entry .highlighttable { width: 100%; }
.entry .highlighttable .linenos { width: 30px; }