{% block entry %}
<article class="entry">
    <header>
        <h1>
            <a href="{{ url_for('entry', entry_id=entry['_id']) }}">{{ entry.title }}</a>
        </h1>
        <div class="timestamp">
            <time>{{ entry.created_at | timestamp }}</time>
        </div>
    </header>
    <div>
        {{ entry.converted_content | safe }}
    </div>
</article>
{% endblock %}