<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>MdBlog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mdblog.css') }}" />
    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='pure-min.css') }}" />
    <style type="text/css">
        {{ css }}
    </style>
</head>
<body>
<div id="container">
    <header id="page-header">
        <h1>MdBlog</h1>
    </header>
    <div id="contents">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>