{% extends 'base.html' %}
{% block body %}
    <section>
        <form action="{{ url_for('entry') }}" method="POST" class="pure-form pure-form-stacked" id="entry-form">
            <fieldset>
                <legend>New Entry</legend>
                <input name="title" id="title" type="text" placeholder="Title" required />
                <textarea name="content" id="content" rows="8" placeholder="Hello, world" required></textarea>
                <button type="submit" class="pure-button">Submit</button>
            </fieldset>
        </form>
    </section>
    <section id="entries">
    {% for entry in entries %}
        {% include '_entry.html' %}
    {% endfor %}
    </section>
{% endblock %}